/* Available fonts
'Russo One', sans-serif;
'Fugaz One', cursive;
'Anton', sans-serif;
'Bebas Neue', cursive;
'Montserrat Subrayada', sans-serif; */

:root {
  font-size: 16px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  background-image: url("./images/pixelbackground.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
}

header{
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-1 {
  font-size: 2rem;
  font-family: 'Russo One', sans-serif;
  padding-top: 1rem;
  text-shadow: 2px 2px white;
  margin: 0;
}

.header-2 {
  font-size: 3rem;
  font-family: 'Montserrat Subrayada', sans-serif;
  position: absolute;
  z-index: 10;
  left: 38.5%;
  top: 2rem;
  margin: 0;
  text-shadow: 2px 2px #A53860;
}

#navbar {
  position: relative;
  top: 2rem;
  height: 4.6rem;
}

.navbar-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #61C9A8;
  height: 2.5rem;
  font-size: 2rem;
  margin: 0;
  top: 15vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: 'Russo One', sans-serif;
  padding: 0 7rem;
}

.navbar-ul li {
  display: block;
}

.navbar-ul li svg {
  width: 2rem;
  position: relative;
  top: 4px;
  color: #4C3B4D;
}

.pets-tab-paw {
  width: 2rem;
  transform: rotate(20deg);
  position: relative;
  top: 4px;
  color: #4C3B4D;
}

.create-tab {
  position: relative;
  left: 20px;
}

.pets-tab:hover {
  color: #A53860;
  transition: 600ms;
  cursor: pointer;
}

.create-tab:hover {
  color: #A53860;
  transition: 600ms;
  cursor: pointer;
}

.battle-tab:hover {
  color: #A53860;
  transition: 600ms;
  cursor: pointer;
}

.create-tab-dragon1 {
  transform: scaleX(-1);
}

#main-container {
  background-color: #FFEEDB;
  background-size: cover;
  width: 90%;
  height: 100%;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  position: relative;
  z-index: 0;
}

.pets-leftbar {
  width: 16rem;
  border-right: 1px solid black;
  height: 100vh;
}

.pets-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pets-li {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  font-family: 'Fugaz One', cursive;
  padding: 1rem 0 1rem 0;
}

.pets-name-text {
  margin-left: 1rem;
}

.pets-li:hover {
  background-color: rgb(228, 174, 112);
  transition: 600ms;
  cursor: pointer;
}

#pet-details {
  margin: 3rem;
}

.pet-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

#pet-details {
  display: none;
}

#pet-create {
  display: none;
  margin: 1rem 3rem;
}

#pet-battle {
  display: none;
}

.stats-container {
  display: flex;
  flex-direction: row;
}

.personality-stats {
  margin-left: 1rem;
  padding-top: 1px;
}

footer {
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  background-image: url("./images/pixelbackground.jpg");
  background-size: cover;
  background-position: bottom;
}