/* Available fonts
'Russo One', sans-serif;
'Fugaz One', cursive;
'Anton', sans-serif;
'Bebas Neue', cursive;
'Montserrat Subrayada', sans-serif; */
@font-face {
  font-family: "Fipps-Regular";
  src: url("./fonts/Fipps-Regular.otf");
  }
    
:root {
  font-size: 16px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./images/pixelbackground.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top;
}

header{
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-1 {
  font-size: 2rem;
  font-family: 'Russo One', sans-serif;
  padding-top: 1rem;
  text-shadow: 3px 3px white;
  margin: 0;
}

.header-2 {
  font-size: 3rem;
  font-family: 'Montserrat Subrayada', sans-serif;
  position: absolute;
  z-index: 10;
  left: 38.5%;
  top: 2rem;
  margin: 0;
  text-shadow: 3px 3px #A53860;
}

#navbar {
  position: relative;
  top: 2rem;
  height: 4.6rem;
}

.navbar-ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: #61C9A8;
  height: 2.5rem;
  font-size: 2rem;
  margin: 0;
  top: 15vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: 'Fugaz One', cursive;
  padding: 0 7rem;
}

.navbar-ul2 {
  display: flex;
  justify-content: center;
  background-color: maroon;
  height: 1.5rem;
  font-size: 1rem;
  margin: 0;
  top: 16vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: 'Fugaz One', cursive;
}

.navbar-ul li {
  display: block;
}

.navbar-ul li svg {
  width: 2rem;
  position: relative;
  top: 4px;
  color: #4C3B4D;
}

.pets-tab-paw {
  width: 2rem;
  transform: rotate(20deg);
  position: relative;
  top: 4px;
  color: #4C3B4D;
}

.create-tab {
  position: relative;
  left: 20px;
}

.pets-tab:hover {
  text-shadow: 2px 2px#A53860;
  transition: 600ms;
  cursor: pointer;
}

.create-tab:hover {
  text-shadow: 2px 2px#A53860;
  transition: 600ms;
  cursor: pointer;
}

.battle-tab:hover {
  text-shadow: 2px 2px#A53860;
  transition: 600ms;
  cursor: pointer;
}

.create-tab-dragon1 {
  transform: scaleX(-1);
}

#main-container {
  background-color: #FFEEDB;
  background-size: cover;
  width: 90%;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  position: relative;
}

#main-render {
  height: 100%;
}

#welcome-page {
  margin: 3rem;
  height: 100vh;
  text-transform: uppercase;
  font-family: 'Fugaz One', cursive;
  text-shadow: 2px 2px #A53860;
}

#headers {
  cursor: pointer;
}

.pets-leftbar {
  width: 18rem;
  border-right: 1px solid black;
}

h2#pet-name {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Fugaz One', cursive;
}

h4#playerHP {
  margin-top: 0;
}

h4#opponentHP {
  margin-top: 0;
}

.move-button {
  height: 2rem;
  font-family: "Fipps-Regular"
}

.pets-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 18rem;
}

.pets-li {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  font-family: 'Fugaz One', cursive;
  text-transform: uppercase;
  padding: 1rem 0 1rem 0;
  color: black;
}

.pets-name-text {
  margin-left: 1rem;
}

.pets-li:hover {
  background-color: rgb(228, 174, 112);
  transition: 600ms;
  cursor: pointer;
  text-shadow: 2px 2px#A53860;
}

#pet-details {
  margin: 3rem;
  max-height: 100%;
}

.pet-image {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border: 1px solid black;
}

#pet-create {
  margin: 1rem 1rem;
}

#pet-battle {
  height: 40rem;
  width: 60rem;
  display: flex;
}

div#battle-div {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 35rem;
  width: 48rem;
  background-size: cover;
  padding: 0;
  position: relative;
  top: auto;
  left: 7px;
}

div#opponent-div {
  position: absolute;
  right: 2rem;
  top: 1rem;
  margin: 0;
}

img#opponent {
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 25%;
}

div#player-pet-div {
  position: absolute;
  left: 2rem;
  bottom: -4rem;
  margin: 0;
}

div#button-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

div#text-box{
  background-color: #FFEEDB;
  width: 22rem;
  height: 5.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border-style: double;
  border-color: black;
  border-width: 5px;
  font-family: "Fipps-Regular";
  font-size: 12px;
}

img#player{
  border-radius: 25%;
}

h2#pet-name {
  margin-bottom: 0;
  text-shadow: 1px 1px white;
}

h4#playerHP {
  margin-top: 0;
  text-shadow: 1px 1px white;
}

h4#opponentHP {
  margin-top: 0;
  text-shadow: 1px 1px white;
}

.stats-container {
  display: flex;
  flex-direction: row;
}

.assign-stats {
  width: 10rem;
}

.personality-stats {
  margin-left: 1rem;
  padding-top: 1px;
  width: 11rem;
}

.move-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.move-li {
  width: 100%;
}

.move-effect {
  padding-left: 0;
  list-style: none;
}

.move-container {
  display: flex;
}

.select-move {
  font-size: 18.72px;
}

.create-button {
  height: 3rem;
  width: 10rem;
  background-color: #61C9A8;
  color: white;
  font-size: 2rem;
  font-family: 'Fugaz One', cursive;
  bottom: 10rem;
  cursor: pointer;
  border: 1px solid black;
}

footer {
  font-size: 2rem;
  font-family: 'Bebas Neue', cursive;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  background-image: url("./images/pixelbackground.jpg");
  background-size: cover;
  background-position: bottom;
}

#audio-player {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 5px;
}

#audio-player button {
  width: 70px;
}

/* #message {
  width: 35rem;
  height: 12rem;
  left: 5rem;
  position: absolute;
  top: 76px;
  text-shadow: 3px 3px#61C9A8;
  font-family: 'Montserrat Subrayada', sans-serif;
}

#anim {
  width: 50px;
} */